In [1]:
# Initialize the spark on jupyter notebook

import findspark
findspark.init()


# To create the dataframe in pyspark 

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [2]:
# Initializing the sparksession 

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
schema = StructType([StructField('_c0', IntegerType(), True), 
                      StructField('Country', StringType(), True), 
                      StructField('Year', IntegerType(), True), 
                      StructField('GDP', FloatType(), True)
                     ])

In [4]:
# Redefining the dataframe with correct column labels 

df1 = spark.read.csv('country_data2.csv', header=True, schema=schema)
df1.show(5)

+---+-----------+----+---------+
|_c0|    Country|Year|      GDP|
+---+-----------+----+---------+
|  1|Afghanistan|2014|612.69653|
|  2|Afghanistan|2013|  631.745|
|  3|Afghanistan|2012|  669.959|
|  4|Afghanistan|2011| 63.53723|
|  5|Afghanistan|2010| 553.3289|
+---+-----------+----+---------+
only showing top 5 rows

In [5]:
# We can do SQL operations on the dataframe by creating 
# a temporary view 

df1.createOrReplaceTempView('GDP')

In [6]:
# Now pass the SQL command as a string 

# Selecting one column from dataframe 

spark.sql('select Country from GDP').show(5)

+-----------+
|    Country|
+-----------+
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
+-----------+
only showing top 5 rows

In [7]:
# Selecting multiple columns from dataframe 

spark.sql('select Country, GDP from GDP').show(5)

+-----------+---------+
|    Country|      GDP|
+-----------+---------+
|Afghanistan|612.69653|
|Afghanistan|  631.745|
|Afghanistan|  669.959|
|Afghanistan| 63.53723|
|Afghanistan| 553.3289|
+-----------+---------+
only showing top 5 rows

In [8]:
# length counts the length of the string 

spark.sql('select Country, length(Country) from GDP').show(5)

+-----------+---------------+
|    Country|length(Country)|
+-----------+---------------+
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
+-----------+---------------+
only showing top 5 rows

In [9]:
# Selecting first three letters from the country 

spark.sql("select Country, left(Country, 3) from GDP").show(5)

+-----------+----------------+
|    Country|left(Country, 3)|
+-----------+----------------+
|Afghanistan|             Afg|
|Afghanistan|             Afg|
|Afghanistan|             Afg|
|Afghanistan|             Afg|
|Afghanistan|             Afg|
+-----------+----------------+
only showing top 5 rows

In [10]:
# applying condition on selection

spark.sql("select Year, GDP from GDP where Country = 'Nepal'").show(5)

+----+---------+
|Year|      GDP|
+----+---------+
|2015| 743.7653|
|2014|  76.2387|
|2013|688.61725|
|2012| 681.7926|
|2011| 692.1167|
+----+---------+
only showing top 5 rows

In [11]:
# applying mathematical condition on selection

spark.sql('select Country from GDP where GDP < 10').show(5)

+-----------+
|    Country|
+-----------+
| Bangladesh|
|   Cambodia|
|  Mauritius|
|Philippines|
|     Rwanda|
+-----------+

In [12]:
# Star selects all the columns from the dataframe 

spark.sql("select * from GDP where Year = 2011").show(5)

+---+-------------------+----+---------+
|_c0|            Country|Year|      GDP|
+---+-------------------+----+---------+
|  4|        Afghanistan|2011| 63.53723|
| 20|            Albania|2011|4437.1787|
| 36|            Algeria|2011|5432.2524|
| 52|             Angola|2011| 4299.129|
| 68|Antigua and Barbuda|2011| 11929.35|
+---+-------------------+----+---------+
only showing top 5 rows

In [13]:
# Select multiple column with condition

spark.sql("select Country, Year from GDP where Year = 2000").show(5)

+-------------------+----+
|            Country|Year|
+-------------------+----+
|        Afghanistan|2000|
|            Albania|2000|
|            Algeria|2000|
|             Angola|2000|
|Antigua and Barbuda|2000|
+-------------------+----+
only showing top 5 rows

In [14]:
# Selecting multiple columns with multiple conditions 

spark.sql("select Country, Year, GDP from GDP\
            where Year = 2000 and GDP > 35000").show()

+-----------+----+---------+
|    Country|Year|      GDP|
+-----------+----+---------+
|      Japan|2000| 38532.49|
| Luxembourg|2000|48735.996|
|     Norway|2000|38146.715|
|Switzerland|2000|37813.234|
+-----------+----+---------+

In [15]:
# Selecting countries whose name starts from Z

spark.sql("select Country from GDP where Country like 'Z%'").show(5)

+-------+
|Country|
+-------+
| Zambia|
| Zambia|
| Zambia|
| Zambia|
| Zambia|
+-------+
only showing top 5 rows

In [16]:
# Selecting country not having vowel a in its name and starting with S

spark.sql("select Country from GDP\
            where Country not like '%a%' \
            and Country like 'S%'").show(5)

+----------+
|   Country|
+----------+
|Seychelles|
|Seychelles|
|Seychelles|
|Seychelles|
|Seychelles|
+----------+
only showing top 5 rows

In [17]:
# Use of between 

spark.sql("select Year, GDP from GDP \
            where Country = 'China' \
            and Year between 2005 and 2010").show(5)

+----+---------+
|Year|      GDP|
+----+---------+
|2010|456.51248|
|2009|3838.4343|
|2008|3471.2476|
|2007|2695.3662|
|2006|299.22968|
+----+---------+
only showing top 5 rows

In [18]:
# Use of in 

spark.sql("select Country, GDP from GDP \
            where Country in ('Nepal', 'India') \
            and Year = 2000").show(5)

+-------+---------+
|Country|      GDP|
+-------+---------+
|  India|438.86462|
|  Nepal|231.42554|
+-------+---------+

In [19]:
# Use of in outside condition can be used to create yes no question 

spark.sql("select distinct Country, Country in ('Pakistan', 'India') from GDP").show(4)

+----------+------------------------------+
|   Country|(Country IN (Pakistan, India))|
+----------+------------------------------+
|      Cuba|                         false|
|Mauritania|                         false|
|  Djibouti|                         false|
|  Slovenia|                         false|
+----------+------------------------------+
only showing top 4 rows

In [20]:
# Use of distinct 

spark.sql("select distinct * from GDP where length(Country) < 5").show(5)

+----+-------+----+---------+
| _c0|Country|Year|      GDP|
+----+-------+----+---------+
| 778|   Fiji|2001|238.89172|
| 776|   Fiji|2003|2835.9739|
|1420|   Mali|2007|595.63684|
| 779|   Fiji|2000| 276.1338|
|1416|   Mali|2011|835.88995|
+----+-------+----+---------+
only showing top 5 rows

In [21]:
# A combination for fun 

spark.sql("select distinct * from GDP where Country like '%l'").show(5)

+----+--------+----+---------+
| _c0| Country|Year|      GDP|
+----+--------+----+---------+
|1108|  Israel|2003|  18947.0|
|1842|Portugal|2000|1152.3969|
|1830|Portugal|2012|2577.4265|
|1600|   Nepal|2003|253.72412|
|1958| Senegal|2011| 18.25321|
+----+--------+----+---------+
only showing top 5 rows

In [22]:
# Order by 

spark.sql("select * from GDP where Year = 2015 order by GDP desc").show(4)

+----+-----------+----+---------+
| _c0|    Country|Year|      GDP|
+----+-----------+----+---------+
|1843|      Qatar|2015| 66346.52|
| 112|  Australia|2015|56554.387|
|2018|  Singapore|2015| 53629.74|
|1604|Netherlands|2015|44292.883|
+----+-----------+----+---------+
only showing top 4 rows

In [23]:
# We can create another temp view 

df1.createOrReplaceTempView('Country')

In [24]:
# We can select from COuntry now  

spark.sql('SELECT DISTINCT Country, GDP FROM Country\
            WHERE GDP < 10').show()

+-----------+---------+
|    Country|      GDP|
+-----------+---------+
|     Rwanda|5.6687264|
| Bangladesh|4.6135745|
|   Cambodia| 3.685949|
|  Mauritius| 8.376432|
|Philippines|  1.68135|
+-----------+---------+

In [25]:
# GDP is still working 

spark.sql('SELECT Country FROM GDP\
            WHERE Year=2010').show(5)

+-------------------+
|            Country|
+-------------------+
|        Afghanistan|
|            Albania|
|            Algeria|
|             Angola|
|Antigua and Barbuda|
+-------------------+
only showing top 5 rows

In [26]:
# How many country name start with United?

spark.sql("select distinct Country from GDP where Country like 'United%'").show()

+--------------------+
|             Country|
+--------------------+
|United Arab Emirates|
+--------------------+

In [27]:
# Subquerry 
# Which country in 2010 had GDP larger than the GDP of Germany in 2015?

spark.sql("select distinct Country from GDP \
          where Year = 2010 and \
          GDP > (select GDP from GDP \
                          where Country = 'Germany'\
                          and Year = '2015')").show()

+-----------+
|    Country|
+-----------+
|  Singapore|
|    Germany|
|     Norway|
|    Ireland|
|    Iceland|
|Switzerland|
|     Canada|
|  Australia|
|    Austria|
+-----------+

In [28]:
# Lowest GDP which is not null 

spark.sql("select * from GDP where GDP > 0 order by GDP asc").show(3)

+----+-----------+----+---------+
| _c0|    Country|Year|      GDP|
+----+-----------+----+---------+
|1808|Philippines|2002|  1.68135|
| 431|   Cambodia|2000| 3.685949|
| 189| Bangladesh|2002|4.6135745|
+----+-----------+----+---------+
only showing top 3 rows

In [29]:
# Countries with the shortest name 

spark.sql("select distinct Country, length(Country) from GDP \
            where length(Country)>0 \
            order by length(Country)").show(10)

+-------+---------------+
|Country|length(Country)|
+-------+---------------+
|   Oman|              4|
|   Togo|              4|
|   Iraq|              4|
|   Chad|              4|
|   Mali|              4|
|   Cuba|              4|
|   Fiji|              4|
|   Peru|              4|
|  Kenya|              5|
|  Qatar|              5|
+-------+---------------+
only showing top 10 rows

In [30]:
# Longest country name 

spark.sql("select Country, Year from GDP order by length(Country) desc").show(4)

+--------------------+----+
|             Country|Year|
+--------------------+----+
|Central African R...|2015|
|Central African R...|2011|
|Central African R...|2014|
|Central African R...|2013|
+--------------------+----+
only showing top 4 rows

In [31]:
# Viewing the full name 

spark.sql("select Country, Year from GDP order by length(Country) desc").first()

Row(Country='Central African Republic', Year=2015)

In [32]:
# Total GDP of the world in 2000

spark.sql("select sum(GDP) from GDP where Year = 2000").show()

+----------------+
|        sum(GDP)|
+----------------+
|724749.982675314|
+----------------+

In [33]:
# Average GDP of Chile 

spark.sql("select mean(GDP) from GDP where Country = 'Chile'").show()

+-----------------+
|        mean(GDP)|
+-----------------+
|6202.344459533691|
+-----------------+

In [34]:
# Number of countires in the world 

spark.sql("select count(distinct Country) from GDP").show()

+-----------------------+
|count(DISTINCT Country)|
+-----------------------+
|                    156|
+-----------------------+

In [35]:
# Total GDP of India and Pakistan in 2000

spark.sql("select sum(GDP) from GDP \
            where Country in ('India', 'Pakistan')\
            and Year = 2000").show()

+---------------+
|       sum(GDP)|
+---------------+
|972.72705078125|
+---------------+

In [36]:
# Number of countries with GDP more than 30000 in 2000

spark.sql("select count(Country) from GDP \
            where Year = 2000 \
            and GDP > 30000").show()

+--------------+
|count(Country)|
+--------------+
|             5|
+--------------+